@model Projekt_ASP.Models.Comment
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form asp-action="AddComment" asp-controller="Achievement" method="post">
    <input type="hidden" asp-for="PostId" value="@ViewBag.PostId" />
    <div>
        <div><span asp-validation-for="Text"></span></div>
        <label asp-for="Text">Treść komentarza</label>
        <input type="text" class="form-text" asp-for="Text" />
    </div>
    <button type="submit">Dodaj nowy komentarz</button>
</form>