@model IEnumerable<Achievement>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Achievements";
}
<h2>Lista rzadkich osiągnięć</h2>
<div class="achievements">
    @{ if (Model.Count() == 0)
        {<h4>Na razie brak</h4>}
        else
        {
            foreach (var achievement in @Model)
            {
                <a asp-action="ViewPosts" asp-route-id="@achievement.Id" asp-controller="Achievement" class="text-decoration-none text-dark hover-shadow">
                    <div class="achievement">
                        <div>
                            @achievement.Name
                        </div>
                        <div>
                            @achievement.Game
                        </div>
                    </div>
                </a>
            }
        }
    }
</div>
<a asp-action="AddAchievement" asp-controller="Achievement">Dodaj</a>